.user-icon{
    color: black !important;
    /* background-color:red; */
}
@media only screen and (max-width: 380px) {
    .nav-link{
        text-align: center !important;
    }
    .dropdown{
        margin:auto auto !important;
    }
  }
  @media only screen and (max-width: 960px) {
    .nav-link{
        text-align: center !important;
    }
    .dropdown{
        margin:auto auto !important;
    }
  }